body {
    background-color: rgb(201, 201, 201) !important;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: #FBFBFB !important;
    transition: 500ms;
}

a:hover {
    color: red !important;
    transition: 500ms;
}

#popup-card {
position: fixed;
min-width: 30%;
max-width: 90%;
width: auto;
height: 100%;
left: 5%;
}

#popup-btn {
width: 100%;
transition: 500ms;
}

#popup-btn:hover {
transform: scale(1.1);
transition: 500ms;
}

#warning-label {
font-size: 0.6rem;
}

#top-nav {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

#topCarousel img {
width: auto;
height: 15rem;
max-height: 15rem;
}

#pop-item .carousel-item {
    max-width: 60%;
    width: 60%;
    max-height: 30%;
    height: 30%;
}

#pop-item-btns {
    margin-left: 25%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #popup-card {
    position: fixed;
    min-width: 30%;
    max-width: 75%;
    width: auto;
    height: 100%;
    left: 12.5%;
    }
    
    #popup-btn {
    width: 100%;
    transition: 500ms;
    }
    
    #popup-btn:hover {
    transform: scale(1.1);
    transition: 500ms;
    }

    #warning-label {
        font-size: 0.8rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #popup-card {
    position: fixed;
    min-width: 30%;
    max-width: 50%;
    width: auto;
    height: 100%;
    left: 25%;
    }
    
    #popup-btn {
    width: 100%;
    transition: 500ms;
    }
    
    #popup-btn:hover {
    transform: scale(1.1);
    transition: 500ms;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #popup-card {
    position: fixed;
    min-width: 30%;
    max-width: 50%;
    width: auto;
    height: 100%;
    left: 25%;
    }
    
    #popup-btn {
    width: 100%;
    transition: 500ms;
    }
    
    #popup-btn:hover {
    transform: scale(1.1);
    transition: 500ms;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #popup-card {
    position: fixed;
    min-width: 30%;
    max-width: 50%;
    width: auto;
    height: 100%;
    left: 25%;
    }
    
    #popup-btn {
    width: 100%;
    transition: 500ms;
    }
    
    #popup-btn:hover {
    transform: scale(1.1);
    transition: 500ms;
    }
}

